@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

body {
  font-family: 'Merriweather', serif;
  background-color: #f4f1ea;
  color: #2e2c2a;
  margin: 0;
  padding: 0;
  background-image: url("/Website/lilLibrary/media/hfn210qr.bmp");
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
  background-color: #c6c8bb;
  padding: 15px;
  border-radius: 15px;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  font-weight: 700;
}

.welcome-message {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.2rem;
  background-color: #c6c8bb;
  padding: 10px;
  border-radius: 10px;
  color: #2e2c2a;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  height: auto;
}

.book-card {
  background-color: #dee0d2;
  width: 200px;
  height: 250px;
  margin: 15px;
  padding: 15px;
  position: relative;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  overflow: hidden;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 10px 0;
}

.book-author {
  font-size: 1rem;
  color: #555;
}

.book-shelves,
.book-rating {
  font-size: 0.9rem;
  margin-top: 5px;
}

.controls {
  text-align: center;
  margin: 20px 0;
}

.pagination button {
  background-color: #c6c8bb;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #b5b7a3;
}

.pagination button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search-input {
  padding: 10px;
  font-size: 1rem;
  width: 50%;
  margin-right: 10px;
  border-radius: 5px;
}

.search-btn {
  padding: 10px;
  font-size: 1rem;
  background-color: #c6c8bb;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.search-btn:hover {
  background-color: #b5b7a3;
}

.no-results {
  text-align: center;
  margin: 20px;
  background-color: #c6c8bb;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
}

.no-results p {
  font-size: 1.5em;
  color: #666;
}

.noResults-img {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 300px;
  background-image: url("/Website/lilLibrary/media/n1att21p.bmp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
